@{
    ViewData["Title"] = "deneme";
    Layout = "~/Views/CustomerLayout/Index.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Easy Cash Para Transfer Sayfası</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="aranacak kelimeleri giriniz...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Ara!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        

    </div>
</div>