@model LoginViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<!-- Head -->
<head>

<title>Easy Cash Identity - Giriş Sayfası</title>

<!-- Meta-Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="Existing Login Form Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Meta-Tags -->

<link href="~/register/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />

	<!-- Style -->
	<link rel="stylesheet" href="~/register/css/style.css" type="text/css" media="all">

<!-- Fonts -->
<link href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
<!-- //Fonts -->

</head>
<!-- //Head -->

<!-- Body -->
<body>
	
	<h1>Easy Cash Giriş Formu</h1>

	<div class="w3layoutscontaineragileits">
	<h2>Easy Cash</h2>
		<form method="post">
			<input type="text" asp-for="Username" placeholder="Kullanıcı Adınız" required="">
			<input type="password" asp-for="Password" placeholder="Şifreniz" required="">
			<br /><br />
			<ul class="agileinfotickwthree">
				<li>
					<input type="checkbox" id="brand1" value="">
					<label for="brand1"><span></span>Beni Hatırla</label>
					<a href="/Register/Index/">Bir Hesabınız Yok mu?</a>
				</li>
			</ul>
			<div class="aitssendbuttonw3ls">
				<input type="submit" value="Giriş Yap">
				<p> Ana Sayfaya Dön <span>→</span> <a class="w3_play_icon1" href="#small-dialog1"> Easy Cash</a></p>
				<div class="clear"></div>
			</div>
		</form>
	</div>
	
	
	<div class="w3footeragile">
		<p> &copy; @DateTime.Now.Year Easy Cash Giriş Paneli. Tüm Hakları Saklıdır | Design by <a href="http://w3layouts.com" target="_blank">W3layouts</a></p>
	</div>

	
	<script type="text/javascript" src="~/register/js/jquery-2.1.4.min.js"></script>

	<!-- pop-up-box-js-file -->  
		<script src="~/register/js/jquery.magnific-popup.js" type="text/javascript"></script>
	<!--//pop-up-box-js-file -->
	<script>
		$(document).ready(function() {
		$('.w3_play_icon,.w3_play_icon1,.w3_play_icon2').magnificPopup({
			type: 'inline',
			fixedContentPos: false,
			fixedBgPos: true,
			overflowY: 'auto',
			closeBtnInside: true,
			preloader: false,
			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-zoom-in'
		});
																		
		});
	</script>

</body>
<!-- //Body -->

</html>
