@model ConfirmMailViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <form method="post">
        <h2>Taşınan Mail Adresi: @ViewBag.v</h2>
        <br />
        <label>Kullanıcı ID Değeri</label>
        <input type="text" class="form-control" asp-for="Mail" value="@ViewBag.v" />
        <br />
        <label>Mail Adresinize Gelen 6 Haneli Kodu Giriniz</label>
        <input type="text" class="form-control" asp-for="ConfirmCode" />
        <br />
        <button class="btn btn-primary">Hesabı Aktifleştir</button>
    </form>
</div>
